/**
 * React Static Boilerplate
 * https://github.com/kriasoft/react-static-boilerplate
 *
 * Copyright © 2015-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.overflow {
  overflow-x: auto;
  overflow-y: auto;
}
