.table {
  table-layout: auto;
  width: 100%;
  margin: 25px 0;
}
.table .max {
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.table .multi {
  white-space: normal;
}
.table .correct {
  background: #C8E6C9;
}
.table .incorrect {
  background: #FFCDD2;
}
