/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  box-sizing: border-box;
  padding: 16px 0;
}
.content img {
  max-width: 100%;
}
.content table {
  table-layout: auto;
  width: 100%;
  margin: 25px 0;
}
.content table tr {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.center {
  text-align: center;
}
.progress {
  margin: 0 auto;
}
.container, .side {
  display: inline-block;
}
.container {
  width: 75%;
  padding: 15px;
  box-sizing: border-box;
}
.side {
  width: 25%;
  margin-top: 32px;
  box-sizing: border-box;
  vertical-align: top;
}
.side ul {
  list-style-type: none;
  padding: 0 16px;
  margin: 0;
}
.side ul li {
  margin: 10px 0;
}
.menuButton {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}
.header {
  text-align: center;
  color: #455A64;
  font-family: 'Slabo 27px', 'Roboto', 'sans-serif';
}
@media screen and (max-width: 900px) {
  .content {
    padding: 16px 16px;
  }
  .container, .side {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}
