.quiz {
  margin-bottom: 15px;
}

.quizQuestion {
  width: 100%;
  margin-bottom: 15px;
  background: #dbefff;
  min-height: 0;
}
.quizQuestion .quizTitle {
  padding-bottom: 0;
}
.quizQuestion .quizTitle h2 {
  font-size: 20px;
}
.quizQuestion .quizAnswers {
  padding: 10px 15px;
}

.answer {
  display: block;
  margin: 5px 0;
}
